<section class="about" id="about">
	<div class="caption">
		<h3 class="caption__description">What we do</h3>
		<h3 class="caption__title">Story about us</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit laboriosam
			beatae expedita temporibus, mollitia suscipit debitis aspernatur aperiam
			ratione. Lorem ipsum dolor sit amet.
		</p>
	</div>

	<div class="picture">
		<div
			class="picture__box"
			style="background-image: url(../images/about/box1.jpg)"
		>
			<div class="overlay a"></div>
			<div class="picture__content">
				<i class="fa-solid fa-user-group"></i>
				<span>Super Team</span>
			</div>
		</div>
		<div
			class="picture__box"
			style="background-image: url(../images/about/box2.jpg)"
		>
			<div class="overlay"></div>
			<div class="picture__content">
				<i class="fa-solid fa-user-group"></i>
				<span>Super Team</span>
			</div>
		</div>
		<div
			class="picture__box"
			style="background-image: url(../images/about/box3.jpg)"
		>
			<div class="overlay"></div>
			<div class="picture__content">
				<i class="fa-solid fa-user-group"></i>
				<span>Super Team</span>
			</div>
		</div>
	</div>
	<div class="count">
		<div class="count__projects">
			<span class="count__number" data-target="42"></span>
			<p>Web Design Projects</p>
		</div>
		<div class="count__projects">
			<span class="count__number" data-target="123"></span>
			<p>Happy Client</p>
		</div>
		<div class="count__projects">
			<span class="count__number" data-target="15"></span>
			<p>Award Winner</p>
		</div>
		<div class="count__projects">
			<span class="count__number" data-target="99"></span>
			<p>Cup of Coffe</p>
		</div>
		<div class="count__projects">
			<span class="count__number" data-target="24"></span>
			<p>Members</p>
		</div>
	</div>
</section>
