<section class="blog" id="blog">
	<div class="caption">
		<h3 class="caption__description">Our stories</h3>
		<h3 class="caption__title">Latest blog</h3>
	</div>

	<div class="content">
		<div class="content__post">
			<img src="../images/blog/article1.jpg" alt="" />
			<div class="date">
				<span>15 </span>
				<small>Jan</small>
			</div>
			<div class="text">
				<h6>Lorem ipsum dolor sit amet</h6>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit.
					Reprehenderit, nobis!
				</p>
			</div>
			<div class="icons">
				<i class="fa-solid fa-eye"></i>
				<small>542</small>
				<i class="fa-solid fa-comment-dots"></i>
				<small>17</small>
			</div>
		</div>
		<div class="content__post">
			<img src="../images/blog/article2.jpg" alt="" />
			<div class="date">
				<span>15 </span>
				<small>Jan</small>
			</div>
			<div class="text">
				<h6>Lorem ipsum dolor sit amet</h6>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit.
					Reprehenderit, nobis!
				</p>
			</div>
			<div class="icons">
				<i class="fa-solid fa-eye"></i>
				<small>992</small>
				<i class="fa-solid fa-comment-dots"></i>
				<small>42</small>
			</div>
		</div>
		<div class="content__post">
			<img src="../images/blog/article3.jpg" alt="" />
			<div class="date">
				<span>15 </span>
				<small>Jan</small>
			</div>
			<div class="text">
				<h6>Lorem ipsum dolor sit amet</h6>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit.
					Reprehenderit, nobis!
				</p>
			</div>
			<div class="icons">
				<i class="fa-solid fa-eye"></i>
				<small>1560</small>
				<i class="fa-solid fa-comment-dots"></i>
				<small>98</small>
			</div>
		</div>
	</div>
	<div class="map-container">
		<div id="map"></div>
		<div class="title">
			<i class="fa-solid fa-location-dot"></i>
			<h3>Open Map</h3>
		</div>
	</div>
</section>
