<section class="clients">
	<div
		class="background"
		style="background-image: url('../images/happy-clients/background.jpg')"
	></div>
	<div class="caption">
		<h3 class="caption__description">Happy Clients</h3>
		<h3 class="caption__title">What people say</h3>
	</div>

	<div class="content">
		<div class="content__item">
			<img src="../images/happy-clients/avatar1.jpg" alt="" />
			<div class="text">
				<h5>Matthew Dix</h5>
				<small>Graphic Design</small>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. A
					consequuntur vero sint. Distinctio, numquam explicabo.
				</p>
			</div>
		</div>

		<div class="content__item">
			<img src="../images/happy-clients/avatar2.jpg" alt="" />
			<div class="text">
				<h5>Nick Karvounis</h5>
				<small>Graphic Design</small>
                <p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. A
					consequuntur vero sint. Distinctio, numquam explicabo.
				</p>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="content__item">
			<img src="../images/happy-clients/avatar3.jpg" alt="" />
			<div class="text">
				<h5>Jaelynn Castillo</h5>
				<small>Graphic Design</small>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. A
					consequuntur vero sint. Distinctio, numquam explicabo.
				</p>
			</div>
		</div>

		<div class="content__item">
			<img src="../images/happy-clients/avatar4.jpg" alt="" />
			<div class="text">
				<h5>Mike Petrucci</h5>
				<small>Graphic Design</small>
                <p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. A
					consequuntur vero sint. Distinctio, numquam explicabo.
				</p>
			</div>
		</div>
	</div>
</section>
