<section class="intro">
	<div class="background"></div>

	<div class="content">
		<h3>Creative template</h3>
		<h1>Welcome to Mogo</h1>
	</div>

	<button class="button button--white">Learn More</button>

	<div class="more-content">
		<p
			class="more-content__text more-content__text--active more-content__text--move"
		>
			<span> 01</span> Intro
		</p>
		<p class="more-content__text"><span> 02</span> Work</p>
		<p class="more-content__text"><span> 03</span> About</p>
		<p class="more-content__text"><span> 04</span> Contacts</p>
	</div>
</section>
