<section class="services" id="service">
	<div class="caption">
		<h3 class="caption__description">We work with</h3>
		<h3 class="caption__title">Amazing Services</h3>
	</div>
	<div class="first-content">
		<div class="first-content__item">
			<img src="../images/services/photography.png" alt="" />

			<h5>Photography</h5>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
		<div class="first-content__item">
			<img src="../images/services/web-design.png" alt="" />
			<h5>Web Design</h5>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
		<div class="first-content__item">
			<img src="../images/services/creativity.png" alt="" />
			<h5>Creativity</h5>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
	</div>
	<div class="second-content">
		<div class="second-content__item">
			<img src="../images/services/seo.png" alt="" />
			<h5>Seo</h5>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
		<div class="second-content__item">
			<img src="../images/services/css-html.png" alt="" />
			<h5>Css/Html</h5>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
		<div class="second-content__item">
			<img src="../images/services/digital.png" alt="" />
			<h5>Digital</h5>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
	</div>
</section>
