<section class="team">
	<div class="caption">
		<h3 class="caption__description">Who we are</h3>
		<h3 class="caption__title">Meet our team</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit laboriosam
			beatae expedita temporibus, mollitia suscipit debitis aspernatur aperiam
			ratione. Lorem ipsum dolor sit amet.
		</p>
	</div>
	<div class="picture">
		<div
			class="picture__box"
			style="background-image: url(../images/team/member1.jpg)"
		>
			<div class="overlay"></div>
			<div class="picture__content">
				<i class="fa-brands fa-facebook-f"></i>
				<i class="fa-brands fa-twitter"></i>
				<i class="fa-brands fa-pinterest-p"></i>
				<i class="fa-brands fa-square-instagram"></i>
			</div>
			<div class="picture__text">
				<h5>Matthew Dix</h5>
				<small>Graphic Design</small>
			</div>
		</div>

		<div
			class="picture__box"
			style="background-image: url(../images/team/member2.jpg)"
		>
			<div class="overlay"></div>
			<div class="picture__content">
				<i class="fa-brands fa-facebook-f"></i>
				<i class="fa-brands fa-twitter"></i>
				<i class="fa-brands fa-pinterest-p"></i>
				<i class="fa-brands fa-square-instagram"></i>
			</div>
			<div class="picture__text">
				<h5>Cristopher Campbell</h5>
				<small>Branding/UX Design</small>
			</div>
		</div>

		<div
			class="picture__box"
			style="background-image: url(../images/team/member3.jpg)"
		>
			<div class="overlay"></div>
			<div class="picture__content">
				<i class="fa-brands fa-facebook-f"></i>
				<i class="fa-brands fa-twitter"></i>
				<i class="fa-brands fa-pinterest-p"></i>
				<i class="fa-brands fa-square-instagram"></i>
			</div>
			<div class="picture__text">
				<h5>Michael Fertig</h5>
				<small>Developer</small>
			</div>
		</div>
	</div>
	<div class="logos-background">
		<img src="../images/logos/logos.png" alt="Logos" />
	</div>
</section>
