<section class="what-we-do">
	<div class="caption">
		<h3 class="caption__description">Service</h3>
		<h3 class="caption__title">What we do</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit laboriosam
			beatae expedita temporibus, mollitia suscipit debitis aspernatur aperiam
			ratione. Lorem ipsum dolor sit amet.
		</p>
	</div>
	<div class="work">
		<div class="work__part1">
			<img src="../images/works/what-we-do/image.jpg" alt="Work" />
		</div>
		<div class="work__part2">
			<div class="work__part2__content">
				<img src="../images/works/what-we-do/icon-photography.png" alt="" />
				<small class="fa-solid fa-angle-down"></small>
				<h5 class="active-border">Photography</h5>
				<p >
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
					corporis rem maxime, praesentium explicabo culpa quas ad amet alias at
					itaque impedit eius sequi officia id. Harum eligendi sed facere,
					dolorum error laboriosam beatae placeat voluptates sint exercitationem
					quod maxime. Qui expedita, illum odit temporibus voluptatum possimus
					optio praesentium aspernatur ullam ipsum a, dolor, velit eum commodi
					exercitationem totam error!
				</p>
			</div>
			<div class="work__part2__content">
				<img src="../images/works/what-we-do/icon-creativity.png" alt="" />
				<small class="fa-solid fa-angle-down"></small>
				<h5>Creativity</h5>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
					corporis rem maxime, praesentium explicabo culpa quas ad amet alias at
					itaque impedit eius sequi officia id. Harum eligendi sed facere,
					dolorum error laboriosam beatae placeat voluptates sint exercitationem
					quod maxime. Qui expedita, illum odit temporibus voluptatum possimus
					optio praesentium aspernatur ullam ipsum a, dolor, velit eum commodi
					exercitationem totam error!
				</p>
			</div>
			<div class="work__part2__content">
				<img src="../images/works/what-we-do/icon-web-design.png" alt="" />
				<small class="fa-solid fa-angle-down"></small>
				<h5>Web Design</h5>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
					corporis rem maxime, praesentium explicabo culpa quas ad amet alias at
					itaque impedit eius sequi officia id. Harum eligendi sed facere,
					dolorum error laboriosam beatae placeat voluptates sint exercitationem
					quod maxime. Qui expedita, illum odit temporibus voluptatum possimus
					optio praesentium aspernatur ullam ipsum a, dolor, velit eum commodi
					exercitationem totam error!
				</p>
			</div>
		</div>
	</div>

	<div class="swiper mySwiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide my-slide">
				<div class="slide-container">
					<div class="slide-container__image">
						<img src="../images/testimonials/icon-chat.png" alt="" />
					</div>
					<div class="slide-container__text">
						<p>
							<q>
								Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								Reprehenderit vel aperiam dolores quod praesentium maxime minus
								commodi, facilis in velit?
							</q>
						</p>
						<small>Jon Doe</small>
					</div>
				</div>
			</div>
			<div class="swiper-slide my-slide">
				<div class="slide-container">
					<div class="slide-container__image">
						<img src="../images/testimonials/icon-chat.png" alt="" />
					</div>
					<div class="slide-container__text">
						<p>
							<q>
								Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								Reprehenderit vel aperiam dolores quod praesentium maxime minus
								commodi, facilis in velit?
							</q>
						</p>
						<small>Jane Doe</small>
					</div>
				</div>
			</div>
			<div class="swiper-slide my-slide">
				<div class="slide-container">
					<div class="slide-container__image">
						<img src="../images/testimonials/icon-chat.png" alt="" />
					</div>
					<div class="slide-container__text">
						<p>
							<q>
								Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								Reprehenderit vel aperiam dolores quod praesentium maxime minus
								commodi, facilis in velit?
							</q>
						</p>
						<small>Jon Doe</small>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-button-next next-button"></div>
		<div class="swiper-button-prev prev-button"></div>
	</div>
</section>
