<section class="works" id="work">
	<div class="caption">
		<h3 class="caption__description">What we do</h3>
		<h3 class="caption__title">Some of our work</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit laboriosam
			beatae expedita temporibus, mollitia suscipit debitis aspernatur aperiam
			ratione. Lorem ipsum dolor sit amet.
		</p>
	</div>

	<div class="posters">
		<div class="posters__half1">
			<div
				class="posters__box"
				style="background-image: url(../images/works/work1.jpg)"
			>
				<div class="overlay"></div>
                <div class="posters__content">
                    <img src="../images/works/icon-image.png"></img>
                    <h5>Creatively Designed</h5>
                    <small>Lorem ipsum dolor sit.</small>
              
                </div>
			</div>
			<div
            class="posters__box"
				style="background-image: url(../images/works/work2.jpg)"
			>
				<div class="overlay"></div>
                <div class="posters__content">
                    <img src="../images/works/icon-image.png"></img>
                    <h5>Creatively Designed</h5>
                    <small>Lorem ipsum dolor sit.</small>
              
                </div>
			</div>
			<div
            class="posters__box"
				style="background-image: url(../images/works/work5.jpg)"
			>
				<div class="overlay"></div>
                <div class="posters__content">
                    <img src="../images/works/icon-image.png"></img>
                    <h5>Creatively Designed</h5>
                    <small>Lorem ipsum dolor sit.</small>
              
                </div>
			</div>
			<div
            class="posters__box"
				style="background-image: url(../images/works/work6.jpg)"
			>
				<div class="overlay"></div>
                <div class="posters__content">
                    <img src="../images/works/icon-image.png"></img>
                    <h5>Creatively Designed</h5>
                    <small>Lorem ipsum dolor sit.</small>
              
                </div>
			</div>

		</div>

		<div class="posters__half2">
			<div
                class="posters__half2__box"
				style="background-image: url(../images/works/work3.jpg)"
			>
				<div class="overlay"></div>
                <div class="posters__content">
                    <img src="../images/works/icon-image.png"></img>
                    <h5>Creatively Designed</h5>
                    <small>Lorem ipsum dolor sit.</small>
              
                </div>
			</div>

		</div>
		<div class="posters__half3">
			<div
            class="posters__half3__background"
				style="background-image: url(../images/works/work4.jpg)"
			>
				<div class="overlay"></div>
                <div class="posters__content">
                    <img src="../images/works/icon-image.png"></img>
                    <h5>Creatively Designed</h5>
                    <small>Lorem ipsum dolor sit.</small>
              
                </div>
                
			</div>
			<div
            class="posters__half3__background"
				style="background-image: url(../images/works/work7.jpg)"
			>
				<div class="overlay"></div>
                <div class="posters__content">
                    <img src="../images/works/icon-image.png"></img>
                    <h5>Creatively Designed</h5>
                    <small>Lorem ipsum dolor sit.</small>
              
                </div>
			</div>
		
		</div>
	</div>
	<div class="swiper mySwiper2">
		<div class="swiper-wrapper">
			<div class="swiper-slide my-slide">
				<div class="slide-container">
					<div class="slide-container__image">
						<img src="../images/testimonials/avatar.jpg" alt="" />
					</div>
					<div class="slide-container__text">
						<p>
							<q>
								Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								Reprehenderit vel aperiam dolores quod praesentium maxime minus
								commodi, facilis in velit?
							</q>
						</p>
						<small>Jon Doe</small>
					</div>
				</div>
			</div>
			<div class="swiper-slide my-slide">
				<div class="slide-container">
					<div class="slide-container__image">
						<img src="../images/testimonials/avatar.jpg" alt="" />
					</div>
					<div class="slide-container__text">
						<p>
							<q>
								Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								Reprehenderit vel aperiam dolores quod praesentium maxime minus
								commodi, facilis in velit?
							</q>
						</p>
						<small>Jane Doe</small>
					</div>
				</div>
			</div>
			<div class="swiper-slide my-slide">
				<div class="slide-container">
					<div class="slide-container__image">
						<img src="../images/testimonials/avatar.jpg" alt="" />
					</div>
					<div class="slide-container__text">
						<p>
							<q>
								Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								Reprehenderit vel aperiam dolores quod praesentium maxime minus
								commodi, facilis in velit?
							</q>
						</p>
						<small>Jon Doe</small>
					</div>
				</div>
			</div>
		</div>
			<div class="swiper-button-next next-button"></div>
			<div class="swiper-button-prev prev-button"></div>
	
	</div>
</section>
