<header class="header">
	<a class="logo" href="">MoGo</a>
	<div class="hamburger hamburger--3dx">
		<div class="hamburger-box">
			<div class="hamburger-inner"></div>
		</div>
	</div>

	<ul class="main-nav">
		<li class="main-nav__item">
			<a href="#about">About</a>
		</li>
		<li class="main-nav__item">
			<a href="#service">Service</a>
		</li>
		<li class="main-nav__item">
			<a href="#work">Work</a>
		</li>
		<li class="main-nav__item">
			<a href="#blog">Blog</a>
		</li>
		<li class="main-nav__item">
			<a href="#">Contact</a>
		</li>
	</ul>
	<div class="icon">
		<i class="fa-solid fa-cart-shopping"></i>
		<i class="fa-solid fa-magnifying-glass"></i>
	</div>
</header>
